@font-face {
  font-family: "T2 Halvar Breit";
  src: url("../fonts/T2HalvarBreit.woff");
}

@font-face {
  font-family: "T2 Halvar Stencil Breit";
  src: url("../fonts/T2HalvarStencilBreit.woff");
}

@font-face {
  font-family: "T2 Rooftop Medium";
  src: url("../fonts/T2RooftopMedium.woff");
}

@font-face {
  font-family: "T2 Rooftop Regular";
  src: url("../fonts/T2RooftopRegular.woff");
}
