@import './fonts.scss';
@import './mixins.scss';
@import './variables.scss';
@import './items.scss';

* {
  margin: 0;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fff;
  font-family: "T2 Rooftop Medium", "Roboto Light", sans-serif;
  font-size: 40px;
}

body {
  & div, & section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}

button:focus-visible,
input:focus-visible,
label:has(input[type=checkbox]:focus-visible) {
  outline: 5px auto -webkit-focus-ring-color;
}
