button.t2 {
  all: unset;
  background-color: var(--t2-pink);
  color: white;
  padding: 40px;
  font-size: 70px;
  text-transform: uppercase;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;

  &:hover, &:focus-visible {
    filter: contrast(.9);
  }

  &:focus-visible {
    outline: 4px solid black;
  }

  &:active {
    filter: contrast(.8);
  }

  &.secondary {
    background-color: var(--t2-green);
    color: black;
  }
}

section {
  padding: 8% 10%;

  &:nth-child(2n) {
    background-color: black;
    color: white;
  }
}

.title {
  text-transform: uppercase;
  font-size: 130px;
}
