:root {
  --highlight-color: var(--t2-pink);
  --background-color: white;
  --font-color: black;
}

.dark {
  --highlight-color: var(--t2-green);
  --background-color: black;
  --font-color: white;
}

button.t2 {
  all: unset;
  background-color: var(--highlight-color);
  color: var(--background-color);
  font-family: "T2 Halvar Breit", "Roboto Light", sans-serif;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  border-radius: 100px;

  font-size: 10px;
  padding: 25px;

  @include large {
    font-size: 25px;
    padding: 59px 98.5px;
  }

  &:disabled {
    color: #808080;
    background-color: #D1D1D1;
  }

  &:not(:disabled) {
    cursor: pointer;

    &:active { filter: contrast(.9); }
    &:hover { box-shadow: 0 0 130px 0 #FFFFFF80 inset; }
  }
}

section {
  padding: 45px 20px;
  align-items: center;

  @include large {
    padding: 70px 20px;
  }

  & > * {
    width: min(100%, 1200px);
  }

  & {
    background-color: white;
    color: black;
  }

  &:nth-child(2n) {
    background-color: black;
    color: white;
  }

  & {
    --notch-size: 20px;
  }

  &:not(:last-child) {
    margin-bottom: calc(-1 * var(--notch-size));

    &:after {
      height: var(--notch-size);
      content: '';
      width: 100%;
    }
  }

  &:not(:first-child) {
    --border-radius: calc(var(--notch-size) / 2);

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
}
